.youtube-logo {
  height: 20px;
}

nav {
  position: sticky;
}

article {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0 auto;
}

article:hover {
  background: #cdfeaa;
}

#videoList {
  width: auto;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.thumb {
  height: 70px;
  border-radius: 4px;
}

.details {
  padding: 8px 22px;
}

#subscriptions-container {
  width: auto;
  height: 300px;
  overflow-y: scroll;
}
