

.youtube-logo{
    height: 20px;
}

article{
    display: flex;
	align-items: center;
	padding: 8px 12px;
	border: 1px solid black;
	border-radius: 8px;
	margin: 0 auto;
}

.thumb {
	height: 70px;
	border-radius: 4px;
}
